body{background-color: #F3F1FF;}
.navbar img{width: 40px;}
.player img{width: 56px;}
main,footer{max-width: 870px;}
.top-player{background-color: #FFFFFF;}
.blue{color:blue}
.blog img{width: 100%;}
.link-decoration{text-decoration: none;}
.pink{color:rgb(249, 96, 122)}